name: Docker Image CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6.0.1
    - name: build
      run: |
        ./configure --prefix=/home/wushf/Desktop/riscv-gnu-toolchain/build --enable-multilib --with-languages=c,c++
