name: Docker Image CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: self-hosted
    steps:
    - name: Checkout repository (with submodules)
      uses: actions/checkout@v6.0.1
      with:
        submodules: recursive
    - name: pwd
      run: |
        pwd
